/* A */
/* B */
/* C */
/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* U */
/* V */
/* W */
/* X */
/* Y */
/* Z */
/* primay color green */
/* bottom color green */
/* primay color blue */
/* color red */
/* accent color */
/* bg color */
/* sub title color */
/* sub title color */
/* A */
/* B */
/* C */
/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* U */
/* V */
/* W */
/* X */
/* Y */
/* Z */
/* primay color green */
/* bottom color green */
/* primay color blue */
/* color red */
/* accent color */
/* bg color */
/* sub title color */
/* sub title color */
/* HPWKLE1110T01 */
.box_calc_wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.box_calc_wrap .calc_box {
  min-width: 7.75rem;
  height: 8rem;
  position: relative;
  border: 1px solid #757575;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  text-align: right;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box_calc_wrap .calc_box + .calc_box::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12L6 12' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M12 18L12 6' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
}
.box_calc_wrap .calc_box.result {
  background: #f8f8f8;
  border-color: #f8f8f8;
  justify-content: flex-end;
}
.box_calc_wrap .calc_box.result::before {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 15L6 15' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M18 9L6 9' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
}

.data_chk ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.data_chk ul li {
  border: 1px solid #757575;
  width: 33.3333333333%;
  padding: 1rem 0.75rem;
  margin: -1px 0 0 -1px;
}
.data_chk ul li .head {
  font-weight: 500;
  text-align: center;
}
.data_chk ul li .chk_box {
  margin-top: 1rem;
}
.data_chk ul li .chk_box .label_type {
  display: inline-block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.875rem;
  border: 1px solid #757575;
  border-radius: 0.25rem;
  color: #555;
  text-align: center;
}
.data_chk ul li .chk_box .label_type::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.25 8L6.95 10.5L11.75 5.5' stroke='%23DDDDDD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
}
.data_chk ul li .chk_box .label_type.chk {
  color: #4d65e1;
  font-weight: 600;
  border-color: #4d65e1;
}
.data_chk ul li .chk_box .label_type.chk::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.25 8L6.95 10.5L11.75 5.5' stroke='%234D65E1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.data_chk ul li .chk_box .label_type.dis {
  background: #f5f5f5;
  border-color: #f5f5f5;
  padding: 0;
  text-align: center;
}
.data_chk ul li .chk_box .label_type.dis::before {
  content: none;
}

.total_box {
  text-align: right;
}
.total_box .sum {
  line-height: 1.75rem;
}
.total_box .total_result {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.25rem;
}

/* HPWKPA1300P20 */
.score_box {
  border: 1px solid #757575;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.score_box .tit {
  margin-bottom: 1rem;
}
.score_box .write_form_area + .write_form_area {
  margin-top: 0.5rem;
}
.score_box .front {
  flex: 20% 0 0;
}

/* HPHRIA1110L05 */
.rating {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  width: 6rem;
  height: 1rem;
  margin-right: 1rem;
}
.rating::before {
  content: "";
  background-color: #333;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L9.93381 5.33833L14.6574 5.83688L11.129 9.01667L12.1145 13.6631L8 11.29L3.8855 13.6631L4.87102 9.01667L1.3426 5.83688L6.06619 5.33833L8 1Z' fill='%234D65E1' stroke='%234D65E1' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: space;
  -webkit-mask-size: contain;
  width: 6rem;
  height: 1rem;
  display: inline-block;
}
.rating::after {
  content: "";
  background-color: #757575;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L9.93381 5.33833L14.6574 5.83688L11.129 9.01667L12.1145 13.6631L8 11.29L3.8855 13.6631L4.87102 9.01667L1.3426 5.83688L6.06619 5.33833L8 1Z' fill='%234D65E1' stroke='%234D65E1' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: space;
  -webkit-mask-size: contain;
  height: 1rem;
}
.rating.rating00::before {
  width: 0rem;
}
.rating.rating00::after {
  width: 6rem;
}
.rating.rating01::before {
  width: 1rem;
}
.rating.rating01::after {
  width: 4.75rem;
}
.rating.rating02::before {
  width: 2.25rem;
}
.rating.rating02::after {
  width: 3.5rem;
}
.rating.rating03::before {
  width: 3.5rem;
}
.rating.rating03::after {
  width: 2.25rem;
}
.rating.rating04::before {
  width: 4.75rem;
}
.rating.rating04::after {
  width: 1rem;
}

/* HPHRED1110M01 */
.sign_agree .sign_tit {
  font-size: 1.125rem;
  border-bottom: 2px solid #333;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* HPEIBB1200M02 */
.time_calculate_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}
.time_calculate_wrap .cell {
  color: #4d65e1;
}
.time_calculate_wrap .cell.row {
  display: flex;
  align-items: center;
}
.time_calculate_wrap .cell > * {
  color: #4d65e1;
}
.time_calculate_wrap .cell .div_wrap {
  margin: 0 0.25rem;
}
.time_calculate_wrap .cell .division {
  position: relative;
  text-align: center;
  line-height: 1.5rem;
  color: #4d65e1;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.time_calculate_wrap .cell .division::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4d65e1;
}
.time_calculate_wrap .cell .division:first-child {
  margin-top: 0;
  padding-top: 0;
}
.time_calculate_wrap .cell .division:first-child:before {
  display: none;
}
.time_calculate_wrap + .time_calculate_wrap {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #757575;
}

/* HPUAZZ1300T01 */
.table_custom tbody {
  vertical-align: top;
}
.table_custom th {
  vertical-align: middle;
}
.table_custom .cont li {
  display: flex;
  align-items: baseline;
  font-size: 14px;
}
.table_custom .cont em {
  font-weight: 600;
  width: 3.75rem;
  font-size: 0.875rem;
}

.accordion.in_box {
  border-top: none;
}
.accordion.in_box li:last-child {
  border-bottom: none;
}
.accordion.in_box li .ui-accordion_btn p {
  font-size: 14px;
  width: 85%;
}
.accordion.in_box .accordion_contents {
  font-size: 14px;
}/*# sourceMappingURL=contents_c.css.map */