@charset "UTF-8";

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html * {font-size: 14px;}
h1 {font-size: 20px !important;}
h2, h3, h4, h5, h6, .s1_r, .s1_r span {font-size: 18px !important;}



.header_info * {font-size: 14px !important;}
.bottom_bar > ul > li > a span {font-size: 12px !important;}
.accordion > ul > li > .ui-accordion_btn::after {top: 10px;}
.unify_search span {font-size: 16px !important;}

header .header_main_area .header_title_area .header_division > li > a {font-size: 16px !important;}
header .header_main_area .header_info {font-size: 14px!;}


.next_btn_bar {box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25); width: 100%; padding: 10px 20px; height: 58px; position: fixed; z-index: 9999; background-color: #fff; bottom: 0; left: 50%; transform: translateX(-50%); }
.next_btn_bar button {width: 100%; height: 100%; margin: auto; background-color: #4D65E1;border-radius: 4px;}
.next_btn_bar button a {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.next_btn_bar button a p {color: #fff; line-height: 1; font-weight: 600; font-size: 16px; position: relative; padding-right: 30px;}
.next_btn_bar button a p::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); background: url('../img/btn_right.svg') no-repeat center / contain; width: 24px; height: 24px;}
.logos.gov {margin-bottom: 78px;} 


.footer_address * {font-size: 14px !important;}
.footer_address .address * {font-size: 13px !important;}

