@charset "utf-8";
/* display */
.dis_inline_block {display: inline-block !important;}
.overflow-hidden {overflow: hidden;}
.flo_l {float: left !important;} /* 250425 추가 */
.flo_r {float: right !important;} /* 250425 추가 */

/* margin */
.ml_none {margin-left: 0 !important;} /* 250418 추가 */
.mtb1-re {margin: 1rem 0 !important;}
.mt_12 {margin-top: 0.75rem !important;} /* 250425 추가 */
.mt_32 {margin-top: 2rem !important;} /* 250425 추가 */
.mt_80 {margin-top: 5rem !important;}
.mrd2-re {margin-right: 0.2rem !important;}
.mb1-re {margin-bottom: 1rem !important;}
.mb5-re {margin-bottom: 5rem !important;}
.mb6-re {margin-bottom: 6rem !important;}
.mb7-re {margin-bottom: 7rem !important;}

/* padding */
.mpd5-re {padding: 0.5rem !important;}
.pl_default {padding-left: 1.5rem !important;}
.pl_28 {padding-left: 1.75rem !important;}
.pt_xmini {padding-top: 0.4rem !important;} /* 250425 추가 */

/* flex-gap */
.grid-gap-d5 {gap: 0.5rem;}
[class*=gap_box] {display:flex;}
[class*=gap_box].column {flex-direction:column;}
.gap_box04 {gap:0.25rem;}
.gap_box08 {gap:0.5rem;}
.gap_box12 {gap:0.75rem;}
.gap_box16 {gap:1rem;}
.gap_box24 {gap:1.5rem;}
.gap_box40 {gap:2.5rem;}

/* width */
.mwd_auto {min-width: auto !important;}
.wd_zero {width: 0 !important; min-width: 0 !important; max-width: 0 !important;}
.wd10per {width: 10% !important;}
.wd100per {width: 100% !important;}
.mwd_2r {width: 2rem !important;}

/* height */
.h_auto {height: auto !important;}
.ht100per {height: 100%} /* 250416 추가 */

/* font-size */
.f_size_12 {font-size: 0.75rem !important;}
.f_size_16 {font-size: 1rem !important; line-height: 1.5rem;}

/* font-weight */
.fw-500 {font-weight: 500 !important;}
.bold_600 {font-weight:600 !important;}

/* color */
.clr_blue {color: #4D65E1 !important;}
.clr_red {color: var(--col_red) !important;}
.clr_111 {color: var(--col_h) !important;}
.clr_333 {color: var(--col_body) !important;}
.cl-555 {color: var(--col_p) !important;}
.cl-grey {color: var(--col_gray) !important;}
.cl-body {color: var(--col_body) !important;}
.font_white {color: var(--col_white) !important;}

/* border */
.border_width_none {border-width: 0 !important;}

/* align */
.al-item-s {align-items: flex-start !important;}
.al-item-c {align-items: center !important;}
.ali-self-c {align-self: center !important;}

.vm {vertical-align: middle !important;}
.vtop {vertical-align: top !important;}
.vtalm2 {vertical-align: -2px !important;} /* 250307 추가 */
.vtalm4 {vertical-align: -4px !important;}

.ws-no {white-space: nowrap !important;}
.keep_all {word-break: keep-all; word-wrap: break-word;}
.break_all {word-break: break-all !important;}

.ellipsis2 {line-height: inherit; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

/* icon*/
.s16 {display:inline-block; width:1rem; height:1rem;}
.s24 {display:inline-block; width:1.5rem; height:1.5rem;}
.icon_aco {background:url("/wk/static/mobile/images/icon_aco_up.svg") no-repeat; background-size:cover;}
.icon_like {background:url("/wk/static/mobile/images/icon_like.svg") no-repeat; background-size:cover;}
.icon_unlike {background:url("/wk/static/images/ico24_ui_like.svg") no-repeat; background-size:cover;} /* 250425 수정(접근성 관련 이미지 변경) */
.icon_share {background:url("/wk/static/mobile/images/icon_share.svg") no-repeat; background-size:cover;}
.icon_crane {background: url("/wk/static/images/icon_crane.svg") no-repeat 0% 50%;}
.icon_bag_filled {background: url("/wk/static/images/icon_bag_filled.svg") no-repeat 0% 50%;}
.icon_national_blue {background: url("/wk/static/images/icon_national_blue.svg") no-repeat 0% 50%;}
.icon_grow {background: url("/wk/static/images/icon_grow.svg") no-repeat 0% 50%;}
.icon_baby_carriage {background: url("/wk/static/images/icon_baby_carriage.svg") no-repeat 0% 50%;}
.icon_hospital_blue {background: url("/wk/static/images/icon_hospital_blue.svg") no-repeat 0% 50%;}
.icon_wrench {background: url("/wk/static/images/icon_wrench.svg") no-repeat 0% 50%;}
.icon_tree {background: url("/wk/static/images/icon_tree.svg") no-repeat 0% 50%;}
.icon_electricity {background: url("/wk/static/images/icon_electricity.svg") no-repeat 0% 50%;}
.icon_home_guide_filled {background: url("/wk/static/images/icon_home_guide_filled.svg") no-repeat 0% 50%;}
.icon_bio_blue {background: url("/wk/static/images/icon_bio_blue.svg") no-repeat 0% 50%;}
.icon_handle {background: url("/wk/static/images/icon_handle.svg") no-repeat 0% 50%;}
.icon_mic {background: url("/wk/static/images/icon_mic.svg") no-repeat 0% 50%;}
.icon_member_register {background: url("../../../img/ico24_member_register.svg"); background-size: cover;}
.icon_news {background: url("/wk/static/images/icon_news.svg") no-repeat; background-size: cover;}
.icon_memo_search {background: url("../../../img/ico24_memo_search.svg") no-repeat; background-size: cover;}
.icon_memo_edit {background: url("../../../img/ico24_memo_edit.svg") no-repeat; background-size: cover;}
.icon_delete {background: url("../../../img/ico16_delete.svg") no-repeat; background-size: cover;}
.icon_filter_blue {background: url("/wk/static/images/ico16_ui_filter_blue.svg") 0 center no-repeat; background-size: cover;} /* 250425 추가 */
.icon_map_white {background: url("/wk/static/images/ico16_map_white.svg") 0 center no-repeat; background-size: cover;} /* 250425 추가 */
.icon_location_bk {background: url("/wk/static/images/ico16_location_black.svg") center center no-repeat;} /* 250425 추가 */

.ico_link_blue {background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 15L12 9L18 15' stroke='%234D65E1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") right center no-repeat; transform: rotate(-270deg); background-size: 1rem !important;}

/* icon(contents_d.css 커스텀) */
[class*='ico16'] {width:1rem !important; height:1rem !important; background-size: 100% !important; vertical-align: -2px !important;}
.ico48_join_complete_green {
	background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='40' fill='%2362D491'/%3E%3Cpath d='M28 42.625L34.5455 49L52 32' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat 0 0;
	background-size: 3rem;
}
.ico16_scrap {background: url('/wk/static/images/ico16_star_gray.svg');}
.ico16_scrap.active {background: url('/wk/static/images/ico16_star_yellow.svg');}
.ico16_shutoff {background: url('/wk/static/images/ico16_shutoff_gray.svg');}
.ico16_shutoff.active {background: url('/wk/static/images/ico16_shutoff_red.svg');}
.ico16_homepage {background: url('/cm/static//images/ico16_home.svg');}
.ico24_ui_like {background:url('../../../img/ico24_ui_like_disabled.svg');}
.ico24_ui_like.active {background:url('../../../img/ico24_ui_like_filled.svg');}
.ico24_notice {background: url('../../../img/ico24_ui_!_filled.svg');}
.ico16_certified {background:url('/wk/static/images/ico16_certified.svg') no-repeat;}

.icon_arrow_white {background:url("../../../img/btn_arrow_white.svg") center center no-repeat; transform: rotate(90deg);} /* 250307 추가 */

/* icon(contents_e.css 커스텀) */
i.ico_danger_fill {background: url('/wk/static/images/ico24_ui_!_red_filled.png') 0 0 no-repeat;}
i.ico_siren {background: url('../../../img/ico24_siren.svg') 0 0 no-repeat;}
i.ico_share {background: url('/wk/static/mobile/images/ico16_Share2.png') center center no-repeat;}

/* =============== common.css 커스텀 =============== */
.btn.small.w_auto {padding: 0 0.5rem; width: auto !important;}
.btn.arrow.on i {transform: rotate(180deg);}

.label_txt.green2 {border-color: #00853d; color: #00853d;}
.label_txt.purple2 {border-color: #ae38c2; color: #ae38c2;}
.label_txt.cyan2 {border-color: #1f8292; color: #1f8292;}

.tab_menu.sticky {position: fixed; left:0; top: 0rem; margin: 0 !important; width: 100%; z-index: 1;}

.label_txt.h24 {height: 1.5rem; line-height: 1.5rem; border-radius: 0.75rem; font-size: 0.75rem;}
.label_txt.yellow2 {border-color: #F6D9A0;color: #CB4300;}
.label_txt.pink3 {border-color: #EF7993; color: #BB4761;}
.label_txt.fill.blue2 {background-color: #f2f3fd; color: #4D65E1;}
.label_txt.fill.green2 {border-color: transparent; background-color: #e7f8ed; color: #117935;}
.label_txt.fill.red2 {background-color: #EE2E62; color: #fff;}
.label_txt.fill.gray3 {background: #757575 ;border-color: #757575; color: #fff;}

.box_line.ty2 {padding: 1rem 1.5rem}
.box_line.ty3 {padding: 1.5rem 1rem}
.box_line.ty4 {padding: 1rem 0.75rem}
.box_line.fill {border-color:transparent; background: var(--col_box_bg);}
.box_line.fill .box_line {background: #fff;}

.box_filelist_wrap .file_br > li + li {border-top: 1px solid var(--col_bg);}
.box_filelist_wrap > ul > li .down {flex: 1; padding-right: 1rem; background: url('/wk/static/mobile/images/ico16_download2.png') right center no-repeat;}

.btn.icon i.plus.wh {background: url('../../../img/btn_plus_white.svg') center center no-repeat; background-size: 0.875rem;}
.accordion.ty2 {border-top: none;}
.accordion.ty2 > ul > li > .ui-accordion_btn {padding: 1rem 1.25rem;}
.accordion.ty2 .accordion_contents {padding: 1rem; border-top: 1px solid #ddd;}

/* =============== contents_a.css 커스텀 =============== */
.box_list.ty2 > li {border-color:var(--col_btn);}

/* =============== contents_b.css 커스텀=============== */
.btn_txt_icon.ty2 {font-size: 0.875rem}
.btn_txt_icon.ty2:after {top: 0}

/* 우리학교취업지원실 - 웹접근성 수정 (20241105) */
.box_calendar_table .calendar_table td {border: 1px solid var(--col_btn);}
.box_calendar_table .select_view .select_on::before {border: 1px solid var(--col_border); background: #f3f8ff;}
.box_calendar_table .select_view .select_none::before {background: url('/wk/static/images/bg_cal_noneSel.png') 0 0 no-repeat;}
.box_calendar_table .calendar_table td .td_box {line-height: 3rem;}
.box_calendar_table .calendar_table td .td_box.select_on {background: #f3f8ff;}
.box_calendar_table .calendar_table td .td_box.select_on button {font-weight: 600;}
.box_calendar_table .calendar_table td .td_box.select_on.on {box-shadow: 0 0 0 2px var(--col_blue) inset;}
.box_calendar_table .calendar_table td .td_box.select_on.on button {color: var(--col_blue); text-decoration: underline;}
.box_calendar_table .calendar_table td .td_box.select_none {position: relative; background: var(--col_border);}
.box_calendar_table .calendar_table td .td_box.select_none:before {display:block; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="black" /></svg>'); opacity: 0.08; content: "";}
.box_calendar_table .calendar_table td .td_box.select_none:after {display:block; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="black" /></svg>'); opacity: 0.08; content: "";}
.box_calendar_table .calendar_table td .td_box.select_none button {color: var(--col_dis) !important;}

/* =============== contents_e.css 커스텀 =============== */
.board_list .board_list_hd {padding: 0.75rem 0.5rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-color: #f5f5f5;} /* 250418 추가 */
.board_list_card .board_list_item .ico_link {position: relative}
.board_list_card .board_list_item .ico_link:after {position: absolute; right: 0; top: 0.2rem; display: block; width: 1rem; height: 1rem; background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L12 15L6 9' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat 50% 0; transform: rotate(-90deg); background-size: 1rem; content: ""}
.board_list_card .board_list_item .cont .tit.ellipsis2 {padding-right: 1rem; max-height: 3rem}
.board_list_card .board_list_item .info_btm {display: flex; padding: 0.9375rem 0.75rem; border-top: 1px solid #eee; justify-content: space-between;}
.board_list_card .board_list_item .info_btm .ico_calendar {padding-left: 1.4rem; background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.75' y='4.75' width='18.5' height='16.5' rx='4.25' stroke='%23333333' stroke-width='1.5'/%3E%3Cpath d='M12 13H12.009' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 13H8.00898' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 13H16.009' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16H12.009' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 16H8.00898' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 16H16.009' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3' y1='9.25' x2='21' y2='9.25' stroke='%23333333' stroke-width='1.5'/%3E%3Cline x1='7.75' y1='2.75' x2='7.75' y2='6.25' stroke='%23333333' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='15.75' y1='2.75' x2='15.75' y2='6.25' stroke='%23333333' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") 0 center no-repeat; background-size: 0.937rem; font-size: 0.875rem}
.btn_fixed_btm {position: fixed; left: 0; bottom: 0; padding: 0.5rem 1.25rem 0; padding-bottom: calc(0.5rem + constant(safe-area-inset-bottom)); padding-bottom: calc(0.5rem + env(safe-area-inset-bottom)); background-color: #fff; overflow:hidden; z-index: 81;}/* 하단 고정 버튼(20241129 추가) */

.btn_tooltip.ques_blue {width: 1rem; height: 1rem; background: url('../../../img/ico16_question_on.svg') 0 0 no-repeat}

.last_none li:last-child .board_list_item_title {border-bottom: none;}
.board_list_item_title > .tit_area > strong.tit_full {display: block; line-height: 1.5rem; overflow: auto; text-overflow: initial;}

/* =============== contents_g.css 커스텀 =============== */
/* 추후 해당 스타일을 공통으로 사용(250425) */
.column_tab_wrap .tab_contents {border-top: 1px solid #757575}
.column_tab_wrap .tab_menu {position: relative; border-right: none;}
.column_tab_wrap .tab_menu:after {display: block; position: absolute; right: 0; top: 0; width: 1px; height: 100vh; background: #757575; content: "";}
.column_tab_wrap .tab_menu > ul > li {position: relative;}
.column_tab_wrap .tab_menu > ul > li.on:after {display: block; position: absolute; right: 0; top: 0; width: 1px; height: 100%; background-color: #fff; content: ""; z-index: 1;}

/* popup */
.popupbox_area {max-height: 15rem; overflow-y: scroll; flex-direction: row !important;}
.popupbox_area div {width: 100%;}
.layer_area {position: absolute; left: 5%; top: 50%; width: 90%; padding: 2rem 1rem; border-radius: 0.75rem; background-color: #fff; transform: translateY(-50%); z-index: 130;} /* 250425 추가 */

/* wk-common css의 모바일 부분 가져옴(240610) */
.m_programs_item li > div {margin: 0.5rem 0 !important;}
.m_programs_item li+li {padding: 0.2rem 0;border-top: 1px solid #eee;}

/* S:일자리찾기-AI일자리추천(20240904) */
.m_jobRec_wrp {margin: 0 -1.25rem; padding: 1rem 1.25rem 1.5rem; border-bottom: 1px solid #ddd; background: #f5f6fa; color: var(--col_body);}
.m_jobRec_wrp .tit_area {display: flex; justify-content: space-between; align-items: center}
.m_jobRec_wrp .btn_more {padding-right: 18px; background: url('../../../img/ico16_arrow_right.svg') right 0 no-repeat; font-size: 14px;}

.m_jobRec_wrp .jobRecSlider {margin-top: 1rem; overflow: hidden;}
.m_jobRec_wrp .jobRecSlider .box > li {display: flex; flex-direction:column; margin-right: 1rem; width: 17.5rem !important; height: 14.75rem; border: 1px solid #eee; border-radius: 0.5rem; background: var(--col_white); justify-content:space-between;}
.m_jobRec_wrp .jobRecSlider .box > li:last-child {margin-right:0}
.m_jobRec_wrp .jobRecSlider .box > li > a {display: block; padding: 1.5rem 1.25rem 0; height: calc(100% - 2.875rem)}
.m_jobRec_wrp .jobRecSlider li .tit {line-height: 1.5rem; height: 3rem; font-size: 1rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: keep-all;}
.m_jobRec_wrp .jobRecSlider li .txt {margin-top: 0.5rem; max-width: 100%; line-height: 1.5rem; font-size: 0.875rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.m_jobRec_wrp .jobRecSlider li .info_list {margin-top:1rem}
.m_jobRec_wrp .jobRecSlider li .info_list > li {position: relative; margin-top: 0.25rem; padding-left: 0.75rem; line-height: 1.5rem; font-size: 0.875rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.m_jobRec_wrp .jobRecSlider li .info_list > li:before {position: absolute; left: 0; top: 0.625rem; display: block; width: 0.25rem; height: 0.25rem; border-radius: 50%; background: #555; content: "";}
.m_jobRec_wrp .jobRecSlider li .btm_area {height:2.875rem; border-top: 1px solid #eee; text-align: center;}
.m_jobRec_wrp .jobRecSlider li .btm_area button {padding: 0.7rem 0; font-size: 0.875rem;}
.m_jobRec_wrp .jobRecSlider li .btm_area button i {vertical-align: -3px;}
.m_jobRec_wrp .swiper-button-prev, .m_jobRec_wrp .swiper-button-next {width: 40px; height: 40px; border:none}
/* E:일자리찾기-AI일자리추천 */

/* S:채용상세 */
.group_bar {display: flex; flex-wrap: wrap; align-items: center; line-height: 1.5rem; font-size: 0.875rem;}
.group_bar .item {position: relative; display: inline-block; margin-right: 0.5rem; padding-right: 0.5rem; line-height: 1.75rem;}
.group_bar .item:after {position: absolute; right: 0; top: 50%; display: block; width: 1px; height: 12px; background: var(--col_btn); transform: translateY(-50%); content:"";}
.group_bar .item:last-child {margin-right: 0 !important; padding-right: 0 !important;}
.group_bar .item:last-child::after {display: none;}
.group_bar.f_size_default .item {margin-right: 1rem; padding-right: 1rem;}

.layer_share_sns {display: flex; justify-content: space-between;}
.layer_share_sns > li {flex: 1; text-align: center}
.layer_share_sns > li a {display: block; line-height: 1.5rem; font-size: 1rem}
.layer_share_sns > li a span {position: relative; display: block; padding-top: 4rem;}
.layer_share_sns > li a span:before {position: absolute; left: 50%; top: 0; display: block; width: 3.5rem; height: 3.5rem; border-radius: 50%; background: var(--col_bg); transform: translateX(-50%); content: "";}
.layer_share_sns > li a span.kakao:before {background-color: #F9E000;}
.layer_share_sns > li a span:after {position: absolute; left: 50%; top: 0; display: block; width: 3.5rem; height: 3.5rem; transform: translateX(-50%); content:"";}
.layer_share_sns > li a span.link:after {background: url('/wk/static/images/ico24_link.png') center center no-repeat;}
.layer_share_sns > li a span.msg:after {background: url('/wk/static/images/ico24_message.png') center center no-repeat;}
.layer_share_sns > li a span.mail:after {background: url('/wk/static/images/ico24_mail.png') center center no-repeat;}
.layer_share_sns > li a span.kakao:after {background: url('/wk/static/images/ico_kakao.png') center center no-repeat;}

.emp_sumup_wrp {padding: 1.5rem; border: 1px solid #ddd; border-radius: 8px;}
.emp_sumup_wrp .etc_info {display: flex; justify-content: space-between;}
.emp_sumup_wrp .label_txt.sm {padding: 0; width: 1.125rem; height: 1.125rem; line-height: 1.125rem; border-radius: 0.25rem; font-size: 0.75rem; text-align: center;}
.emp_sumup_wrp .label_txt.sm + span {margin-left: 0;}
.emp_sumup_wrp .t4_sb.ellipsis2 {line-height: 1.75rem;}
.emp_sumup_wrp .line_top {margin-top: 1rem; padding-top: 1rem; border-top: 1px solid var(--col_border);}
.emp_info_dtl p {font-size: 0.875rem; line-height: 1.5rem;}
.emp_info_dtl li {padding-left: 1.5rem;}
.emp_info_dtl li + li {margin-top: 0.5rem;}
.emp_info_dtl .member {background: url('/wk/static/images/ico16_member_gray.png') 0 center no-repeat}
.emp_info_dtl .career {background: url('/wk/static/images/ico16_bag.png') 0 center no-repeat}
.emp_info_dtl .time {background: url('/wk/static/images/ico16_time.png') 0 center no-repeat}
.emp_info_dtl .dollar {background: url('/wk/static/images/ico16_dollar.png') 0 center no-repeat}
.emp_info_dtl .corp {background: url('../../../img/ico16_home_center.svg') 0 0.4rem no-repeat}
.emp_info_dtl .print {background: url('/wk/static/images/ico16_print.png') 0 0.1rem no-repeat}
.emp_info_dtl .call {background: url('/wk/static/images/ico16_call.png') 0 0.1rem no-repeat}
.emp_info_dtl .email {background: url('/wk/static/images/ico16_email.png') 0 0.2rem no-repeat}
.emp_info_dtl .site {background: url('/wk/static/images/ico16_location.png') 0 0.2rem no-repeat}
.emp_info_dtl .calendar {background: url('/wk/static/images/ico16_calendar_gray.png') 0 0.2rem no-repeat}
.emp_info_dtl .srch {background: url('../../../img/ico16_search.svg') 0 0.4rem no-repeat}

.board_list_wk > li {display: flex; gap: 0.75rem; line-height: 1.5rem; font-size: 0.875rem;}
.board_list_wk > li + li {margin-top: 0.75rem;}
.board_list_wk > li .tit {min-width: 5.3125rem; color: var(--col_p); font-weight: 400; font-size: 0.875rem; flex-shrink: 0; word-break: keep-all; word-wrap: break-word;}
.board_list_wk > li .tit.w100 {width: 6.25rem;}
.board_list_wk > li .cont {width: 100%; line-height: 1.5rem; color: var(--col_body); font-size: 0.875rem; word-break:break-all;}
.board_list_wk.line + .board_list_wk.line {margin-top: 1.5rem; padding-top: 1.5rem; border-top: 1px solid var(--col_border);}
.board_list_wk.bt {padding-top: 1rem; border-top: 1px solid var(--col_border);}
.board_list_wk.bb {border-bottom: 1px solid var(--col_border);}
.board_list_wk.bb > li:last-child {padding-bottom: 1rem;}
.board_list_wk.line_ty2 > li + li {border-top: 1px solid var(--col_border); padding-top: 1rem;}

.box_line.expand {padding-bottom: 0;}
.box_line.expand .fold {padding-bottom: 1rem; color: #555; overflow-y: hidden;}
.box_line.expand .fold.h225 {height: 14rem;}
.box_line.expand .fold.on {height: auto !important;}
.box_line .btn_toggle_more {display: none}
.box_line.expand .btn_toggle_more {display: block; margin-left: -1.5rem; padding: 0.625rem; width: calc(100% + 3rem); line-height: 1.5rem; border-top: 1px solid #ddd; border-radius: 0 0 0.5rem 0.5rem; background: #fff; font-size: 0.875rem;}
.box_line.expand .btn_toggle_more i {display: inline-block; margin-left: 0.25rem; width: 1rem; height: 1rem; background: url('/wk/static/mobile/images/ico16_line_right_filled.png') 0 0 no-repeat; vertical-align:-0.25rem;}
.box_line.expand .btn_toggle_more.on i {transform: rotate(-180deg);}
.box_line.expand.fill {border-color: var(--col_btn);}
.box_line.ty3.expand .btn_toggle_more {margin-left: -1rem; width: calc(100% + 2rem);}
.box_line.ty3.expand .fold {padding-bottom: 1.5rem;}
.box_line .t4_sb.ellipsis2 {line-height: 1.75rem;}

.emp_box_items {display: grid; gap: 0.5rem; grid-template-columns: repeat(3, 1fr);}
.emp_box_items.col2 {grid-template-columns: repeat(2, 1fr);}
.emp_box_items > li {position: relative; display: flex; flex-direction: column; padding: 1rem 0; line-height: 1.5rem; border: 1px solid #ddd; border-radius: 0.5rem; font-size: 0.875rem; text-align: center; justify-content: center; align-items: center;}
.emp_box_items > li .img_wrp {display: flex; width: 40px; height: 40px; justify-content: center; align-items: center;}
.emp_box_items > li.disable {background-color: #eee;}
.emp_box_items > li.disable:before {display:block; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="black" /></svg>'); opacity: 0.1; content: "";}
.emp_box_items > li.disable:after {display:block; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="black" /></svg>'); opacity: 0.1; content: "";}
.emp_box_items > li.disable img, .emp_box_items > li.disable p {opacity: 0.5;}
.emp_box_items.line > li p {display: flex; align-items: center;}

.logo_wrp {display: flex; padding: 1.5rem; border: 1px solid var(--col_btn); border-radius: 0.5rem; align-items: center; justify-content: center;}
.logo_wrp .corp_logo {width: 200px; height: 64px;}
.emp_img_grp {display: flex; flex-direction: column; gap: 1rem; align-items: center;}
.emp_img_grp img {border-radius: 0.5rem; width: 100%; max-width: 400px;}

.corpVisit_temp .tit_qus {position: relative; display: block; margin:2.5rem 0 0.75rem; padding-left: 2rem; line-height: 1.5rem; font-size: 1rem; font-weight: 600;}
.corpVisit_temp .tit_qus .qus {position: absolute; left: 0 ; top: 50%; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; border-radius: 50%; background: var(--col_blue); color: #fff; font-weight: 400; text-align: center; transform: translateY(-50%);}
.corpVisit_temp .tit_group .t3_sb {margin: 0;}
.corpVisit_temp .t3_sb {margin: 2.5rem 0 1rem;}
.corpVisit_temp .t3_sb + .tit_qus {margin-top: 1rem;}
.corpVisit_temp .t4_sb {margin-bottom: 0.5rem;}
.corpVisit_temp .emp_img_grp {margin-top: 1rem;}

.emp_model_step {display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem;}
.emp_model_step > li {position: relative; display: flex; flex-direction: column; padding: 1.5rem 1rem; line-height: 1.5rem; min-height: 8.125rem; border: 1px solid var(--col_btn); background: #fff; font-size:0.875rem; justify-content: center; align-items: center; text-align: center;}
.emp_model_step > li, .emp_model_step > li * {word-break: keep-all; word-wrap: break-word}
.emp_model_step > li::before {position: absolute; right:-0.187rem; top:50%; display: block; width: 0.625rem; height: 0.625rem; border-top: 1px solid var(--col_btn); border-right: 1px solid var(--col_btn); background: #fff; transform: rotate(45deg) translateY(-50%); content: ""}
.emp_model_step > li:first-child::before, .emp_model_step > li:last-child::before {display: none;}
/* E:채용상세 */

/* S:채용정보 목록 (20241031) */
.ignore_pad {width: 100vw; margin-left: -1.25rem;}
.renewal_EmpSrch .board_header .align {padding-right: 0;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .logo_wrap {width: 5.3125rem; height: 1.25rem; text-align: right;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .item {position: relative; padding: 1rem 0; width: 100%;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .item + .item {margin-left: 1rem;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .item:not(:last-child)::after {position: absolute; right: -0.625rem; top: 1.25rem; display: block; width: 1px; height: 0.75rem; background: var(--col_btn); content: "";}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .corp_name {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .label_box > [class^=label_txt] {margin-left: 0;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox {display: flex; flex-direction: column; gap: 0.25rem; padding: 1rem; margin-top: 1rem; border-radius: 0.5rem; background: var(--col_box_bg);}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.member {padding-left: 1.5rem; background: url("/wk/static/mobile/images/icon_member.svg") 0 0.3rem no-repeat;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.time {padding-left: 1.5rem; background: url("/wk/static/mobile/images/icon_time.svg") 0 0.3rem no-repeat;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.dollar {padding-left: 1.5rem; background: url("/wk/static/mobile/images/icon_dollar.svg") 0 0.3rem no-repeat;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.bag {padding-left: 1.5rem; background: url("/wk/static/mobile/images/icon_bag.svg") 0 0.3rem no-repeat;}
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.site {padding-left: 18px; background: url('/wk/static/images/ico16_location.png') 0 6px no-repeat;} /* 250416 추가 */
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.medal_star {padding-left: 1.5rem; background: url("/wk/static/images/icon_medal_star.svg") 0 0.3rem no-repeat;} /* 250416 추가 */
.renewal_EmpSrch .board_list .board_list_item .board_list_item_title .emp_hiddenbox li.memo_search_medal {padding-left: 1.5rem; background: url("/wk/static/images/icon_memo_search_medal.svg") 0 0.3rem no-repeat;} /* 250416 추가 */
.renewal_EmpSrch .btn.dis {background: var(--col_btn); color: var(--col_white); border: none;}
/* E:채용정보 목록 */

/* S:맞춤채용정보 (20241226) */
/* swiper */
.m_jobSwiper_wrp {margin: 0 -1.25rem; padding: 1rem 1.25rem 1.5rem 1rem; border-bottom: 1px solid #ddd; background: #f5f6fa; color: var(--col_body);}
.m_jobSwiper_wrp .tit_area {display: flex; justify-content: space-between; align-items: center}
.m_jobSwiper_wrp .btn_more {padding-right: 18px; background: url('../../../img/ico16_arrow_right.svg') right center no-repeat; font-size: 14px;}
.m_jobSwiper_wrp .myJobSlider {margin-top: 1rem; overflow: hidden;}
.m_jobSwiper_wrp .myJobSlider .box > li {display: flex; flex-direction:column; margin-right: 1rem; width: 17.5rem !important; height: 11rem; border-radius:0.5rem; background: var(--col_white); justify-content:space-between;}
.m_jobSwiper_wrp .myJobSlider .box > li:last-child {margin-right:0}
.m_jobSwiper_wrp .myJobSlider .box > li > a {display: flex; flex-direction: column; flex: 1; padding-top: 1.5rem; border: 1px solid #eee; border-radius: 0.5rem; justify-content: space-between; outline-offset: -2px;}
.m_jobSwiper_wrp .myJobSlider .box > li > a.active {border: 0.187rem solid var(--col_blue);}
.m_jobSwiper_wrp .myJobSlider .box > li .txt_area {padding: 0 1.25rem;}
.m_jobSwiper_wrp .myJobSlider li .tit {line-height: 1.5rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: keep-all;}
.m_jobSwiper_wrp .myJobSlider li .btm_area {display: flex; height:3rem; border-top: 1px solid #eee; align-items: center; justify-content: center;}
.m_jobSwiper_wrp .myJobSlider .box > li > a.active .txt {padding-right: 1.25rem; background: url('../../../img/ico16_check_blue.svg') right center no-repeat; background-size: 1rem; color: var(--col_blue); font-weight: bold;}
.m_jobSwiper_wrp .myJobSlider .box > li .default .txt_area {padding: 3rem 1.25rem 0; background: url('../../../img/ico40_off_memo_edit.svg') center 0 no-repeat; background-size: 2.5rem; text-align: center;}
.fixed_bottom_hasy.ty2 {position: fixed; left: 0; bottom: 0; padding:1rem 1.5rem calc(7.9rem + env(safe-area-inset-bottom));}/* 20250109 추가(contents_g.css 커스텀) */
/* E:맞춤채용정보 */

/* 직종 팝업 */
.occList_depth1 {padding-bottom: 6rem;}
.occList_depth1 li.on {color: var(--col_blue);}
.occList_depth1 li button {position: relative; display: flex; justify-content: space-between; align-items: center; gap: 0.5rem; width: 100%;}
.occList_depth1 li button strong {flex: 1; text-align: left;}
.occList_depth1 > li {display: flex; flex-direction: column;}
.occList_depth1 > li > button {padding: 1rem 0;}
.occList_depth1 > li > button::after {content: ""; display: block; width: 1rem; height: 1rem; background: url("../../../img/ico24_arrow2_down.svg") no-repeat; background-size: 1rem 1rem;}
.occList_depth1 > li.on > button::after {content: ""; display: block; width: 1rem; height: 1rem; background: url("../../../img/ico24_arrow2_up_color.svg") no-repeat; background-size: 1rem 1rem;}
.occList_depth1 > li::before {content: ""; display: block; width: calc(100% + 2.5rem); height: 0.5rem; background-color: #f8f8f8; margin: 0 -1.25rem;}
.occList_depth1 > li:last-child::after {content: ""; display: block; width: calc(100% + 2.5rem); height: 0.5rem; background-color: #f8f8f8; margin: 0 -1.25rem;}
.occList_depth2 {display: flex; flex-direction: column;}
.occList_depth2 > li {border-top: 1px solid var(--col_btn);}
.occList_depth2 > li:first-child {padding: 1rem 0;}
.occList_depth2 > li > button {position: relative; display: flex; align-items: center; justify-content: space-between; padding: 1rem 0 0.5rem 1rem;}
.occList_depth2 > li > button::before {display: block; position: absolute; left: 4px; top: 50%; width: 4px; height: 4px; border-radius: 50%; background: var(--col_btn); content: "";}
.occList_depth2 > li > button::after {content: ""; display: block; width: 1rem; height: 1rem; background: url("../../../img/ico24_arrow2_down.svg") no-repeat; background-size: 1rem 1rem;}
.occList_depth2 > li.on > button::after {display: block; background: url("../../../img/ico24_arrow2_up_color.svg") no-repeat; background-size: 1rem 1rem;}
.occList_depth3 {display: flex; flex-direction: column; gap: 1.25rem; padding: 0 0 1rem 1rem;}
.occList_depth3 > li:first-child {padding-top: 0.5rem;}
.occList_depth3 > .check_area + .check_area {margin-left: 0;}
.occList_search::before {content: ""; display: block; width: calc(100% + 2.5rem); height: 0.5rem; background-color: #f8f8f8; margin: 0 -1.25rem;}
.occ_search_bar {padding: 1.25rem;}

/* 디지털 증명 추가 (241127) */
.label_txt.digitalResume {border-color: #7458E4; color: #7458E4;}
.append_done {display: inline-block; height: 2.5rem; line-height: 2.5rem; font-size: 1rem; text-align: center;}

/* S: 재학생 맞춤형 고용서비스(250123) */
.stuJobSvc_ban {position: relative; padding: 1.25rem 1rem; border-radius: 8px; background: var(--col_bg);}
.stuJobSvc_ban .btn_wrap {display: inline-block;}
.stuJobSvc_ban .btn {display: flex; align-items: center; padding: 0.375rem 1rem;}
.stuJobSvc_ban::after {position: absolute; bottom: 1.25rem; right: 1rem; width: 5rem; height: 5rem; background: url("/wk/static/images/ico_search1_3.png"); background-size: cover; content: "";}

.tbl_hpjb_plan .tbl_header {margin-bottom: 0 !important; padding: 1rem 0 !important; }
.tbl_hpjb_plan .tbl_wrap:first-child .tbl_header {border-bottom: 1px solid var(--col_border) !important;}
.tbl_hpjb_plan .tbl_wrap:not(:first-child) .tbl_header {border-top: 1px solid var(--col_border) !important;}
.tbl_hpjb_plan .tbl_wrap:last-child .tbl_header {border-bottom: 1px solid var(--col_border) !important;}

.view_more_box {padding-top: 1rem; border: 1px solid var(--col_border); border-radius: 0.5rem;}
.view_more_box .tit {padding-left: 1.5rem;}
.view_more_box .content {padding: 1rem 1.5rem; height: 240px; overflow: hidden;}
.view_more_box.on .content {height: auto; overflow: auto;}
.view_more_box .view_more_btn {display: flex; justify-content: center; padding: 0.75rem 0; border-top: 1px solid #ddd; text-align: center;}
.view_more_box.tbl_style .content {display: flex; flex-direction: column; gap: 0.75rem; height: 7.5rem;}
.view_more_box.tbl_style .content > ul {display: flex; flex-direction: column; gap: 0.75rem; text-align: right;}
.view_more_box.tbl_style .content > ul li {display: flex; justify-content: space-between;}
.view_more_box.tbl_style.on .content {height: auto; overflow: auto;}

.tbl_like_th {padding: 0.75rem 1.25rem; margin-bottom: 1rem; background:#f5f5f5; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center;}

.ath_box {padding: 1rem 0.75rem; border-radius: 8px; border: 1px solid var(--col_btn); background: var(--col_white);}
.ath_box > ul li {display: flex; position: relative; flex-direction: column;}
.ath_box > ul li > div {display: flex; justify-content: space-between; gap: 1rem;}
.ath_box > ul li:not(:last-child)::after {display: block; margin: 0.75rem 0; width: 100%; height: 1px; background: var(--col_bg); content: '';}

.border_dash_box {margin: 0 -1.25rem; padding: 1rem 1.25rem 1.5rem; background: #f5f6fa; color: var(--col_body);}
.border_dash_box > div > ul {border-radius: 4px; border: 1px solid var(--eee-line, #EEE); background: var(--fff, #FFF); background: white; padding: 1rem 0.75rem;}
.border_dash_box > div > ul li:first-child:after {display: block; margin: 0.5rem 0; border: 1px dashed #eee; content: "";}

.tbl_aco_list {display: flex; flex-direction: column; gap: 0.75rem;}
.tbl_aco_list > li {display: flex; flex-direction: column;}
.tbl_aco_list > li:not(:last-child) {padding: 0.75rem 0; border-bottom: 1px solid var(--col_border);}
/* E: 재학생 맞춤형 고용서비스(250123) */

/* S: toastpopup component 공통 css(250416) */
.refresh_off {overscroll-behavior: none; -webkit-user-select: none;} /* Mobile 드래그 시 refresh 기능 방지 */
.toast_input_box .btn_wrap ul {display: flex; background-color: white; flex-direction: column;gap: 1rem;}
.toast_input_box {width: 100%; height: auto; background: inherit; position: fixed; left: 0; bottom: 0; z-index: 100;}
.toast_input_box .aft {padding: 0 1.25rem 1.5rem; box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.08);  background: white; display: none; flex-direction: column; border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem;}
.toast_input_box .bef {padding: 1.5rem 1.25rem; display: flex; gap: 0.5rem; background: white;}
.toast_input_box .aft .closeBarArea {position: relative; width: 100%; height: 2rem;}
.toast_input_box .aft .closeBarArea::before {position: absolute; top: 0.75rem; left: calc(50% - 2.5rem); width: 5rem; height: 0.25rem; border-radius: 0.25rem; background: var(--col_btn); content: "";}
/* E: toastpopup component 공통 css(250416) */

/* S: 청년도전지원사업 사업소개 (250423) box_list_wrap overriding */
.intro_Youth_Cha .box_list_wrap {padding-right: 0;}
.intro_Youth_Cha .box_list_wrap li {padding: 1.5rem 1rem; width: 100%;}
.intro_Youth_Cha .box_list_wrap > li:not(:last-child)::after {transform: rotate(45deg); bottom: -0.5rem; right: calc(50% - 0.625rem);}
.intro_Youth_Cha .box_table th:first-child, .intro_Youth_Cha .box_table td:first-child {border-left: none;}
.intro_Youth_Cha .box_table tr:first-child td {border-top: none;}
.intro_Youth_Cha .box_table th:last-child, .intro_Youth_Cha .box_table td:last-child {border-right: none;}
/* E: 청년도전지원사업 사업소개 (250423) box_list_wrap overriding */

/* S: 청년성장프로젝트 및 직장적응지원 사업 분리 (250424) */
.icon_search {background: url("/wk/static/images/ico16_search_gray.svg") no-repeat; background-size: cover;}
.ico_jobfind_check {background: url("/wk/static/images/icon_jobfind_check.svg") no-repeat; background-size: cover;}
.ico_group {background: url("../../../img/ico24_group.svg") no-repeat; background-size: cover;}
.ico_pc_plus {background:url("../../../img/ico24_pc_plus.svg") no-repeat; background-size: cover;}
.ico_pc_check {background: url("/wk/static/images/icon_pc_check.svg") no-repeat; background-size: cover;}
.ico_group {background: url("../../../img/ico24_group.svg") no-repeat; background-size: cover;}

.youthcafe_table th {text-align: left; vertical-align: baseline;}
.youthcafe_table th,.youthcafe_table td {padding: 0.75rem; border: 1px solid var(--col_btn); border-left: none; border-right: none;}
.youthcafe_table li > a {position: relative; display: block;  padding-left: 1.25rem; line-height: 1.5rem;}
.youthcafe_table li > a::before {position: absolute; top: 3px; left: 0; width: 1rem; height: 1rem; background: url("../../../img/ico16_search_gray.svg") no-repeat; background-size: cover; content: "";}
.youthprj_profile_image {display: flex; align-items: center;}
.youthprj_profile_image img {width: 3rem; height: 3rem;}
/* E: 청년성장프로젝트 및 직장적응지원 사업 분리 (250424) */

/* S: 내 주변채용정보 (250425) */
.aroundMe_wrp .around_map {position: absolute; left: 0; top: 3.25rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-flex: 1; width: 100%; height: calc(100% - 3.25rem) !important; overflow: hidden;}
.aroundMe_wrp .btn_reposition_srch {position:absolute; left: 1.25rem; top: 1rem; padding: 0 0.625rem; width: auto; z-index: 10;}
.aroundMe_wrp .btn_position_area {position: absolute; right: 1.25rem; top: 1rem; display: flex; flex-direction: column; gap: 0.5rem; z-index: 10;}
.aroundMe_wrp .btn_position_area [class^='btn'] {width: 2.5rem; height: 2.5rem; border: 1px solid var(--col_blue); border-radius: 50%; background: #fff}
.aroundMe_wrp .btn_position_area .btn_skyview {border: none; background-color: var(--col_green); font-size: 14px; line-height: 14px; font-weight: 600; color: var(--col_h);}
.aroundMe_wrp .btn_position_area .btn_skyview.on {background-color: var(--col_navy); color: var(--col_white);}
.aroundMe_wrp .btn_position_area .btn_research {background: #fff url("/wk/static/images/ico_map_location.svg") center center no-repeat;}
.aroundMe_wrp .btn_position_area .btn_reposition {background: #fff url("/wk/static/images/ico_map_location2.svg") center center no-repeat;}
.aroundMe_wrp .size_ctrl {position: absolute; right: 1.25rem; top: 11rem; display: flex; flex-direction: column; width: 2.5rem; border-radius: 0.25rem; border: 1px solid var(--col_gray); z-index: 10;}
.aroundMe_wrp .size_ctrl [class^='btn_map'] {width: 2.375rem; height: 2.5rem;}
.aroundMe_wrp .size_ctrl [class^='btn_map']:focus {outline-offset: -2px;}
.aroundMe_wrp .size_ctrl .btn_map_plus {border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; background: #fff url("../../../img/ico24_plus.svg") center center no-repeat;}
.aroundMe_wrp .size_ctrl .btn_map_minus {border-top: 1px solid var(--col_border); border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem; background: #fff url("../../../img/ico16_minus_dark.svg") center center no-repeat;}
.aroundMe_wrp .map_info .map_btn_road {flex-shrink: 0;}
.aroundMe_wrp .map_info .map_btn_road button {display: inline-block; width: 2.5rem; height: 2.5rem; border: 1px solid var(--col_button); border-radius: 50%;}
.aroundMe_wrp .map_info .map_btn_road button.road {background: #fff url("/wk/static/images/ico24_road.svg") center center no-repeat;}
.aroundMe_wrp .map_info .map_btn_road button.roadview {background: #fff url("/wk/static/images/ico24_roadview.svg") center center no-repeat;}
/* E: 내 주변채용정보 (250425) */