@charset "UTF-8";

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html *, .main_new .freqAccMnu_swiper_wrap a p,
.main_new .main_work24_news .list li a .date,
.main_new .main_work24_news .list li a .topic,
.main_new .mfs_more span,
.sitemap .dir-div .famenu a p,
header .header_sub_area * {font-size: 20px; line-height: 1.2;}

h1 {font-size: 32px !important;}
h2, h3, h4, h5, h6, .s1_r, .s1_r span,
.main_new .main_favorite_service .swiper-slide a .tit,
.main_new .main_employment_information .cl_tit,
.tit_group * {font-size: 24px !important;}



.header_info *, .footer_address * {font-size: 14px !important;}
.quick_links * {font-size: 16px !important;}
.bottom_bar > ul > li > a span {font-size: 12px !important;}
.accordion > ul > li > .ui-accordion_btn::after {top: 10px;}
.unify_search span {font-size: 16px !important;}

header .header_main_area .header_title_area .header_division > li > a {font-size: 16px !important;}
header .header_main_area .header_info {font-size: 14px!;}


.next_btn_bar {box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25); width: 100%; padding: 10px 20px; height: 58px; position: fixed; z-index: 9999; background-color: #fff; bottom: 0; left: 50%; transform: translateX(-50%); }
.next_btn_bar button {width: 100%; height: 100%; margin: auto; background-color: #4D65E1;border-radius: 4px;}
.next_btn_bar button a {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.next_btn_bar button a p {color: #fff; line-height: 1; font-weight: 600; font-size: 16px; position: relative; padding-right: 30px;}
.next_btn_bar button a p::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); background: url('../img/btn_right.svg') no-repeat center / contain; width: 24px; height: 24px;}
.logos.gov {margin-bottom: 78px;} 
.sitemap .dir-div {gap: 8px;}
.menu-accordion_btn {display: flex; align-items: center;}
.menu-accordion_btn img {margin-left: 20px; margin-right: 0;}
.popup_allmenu .sitemap .sitemap_menu .sitemap_sub .menu-accordion > ul > li > .menu-accordion_btn {text-indent: 0.5rem;}

.main_new .mfs_tab button {word-break: auto-phrase;}

.main_new .main_employment_information .cl_logo {width: 100%;}
.main_new .main_work24_news .list li a .list_title {font-size: 20px;}
.main_new .search_bar * {font-size: 18px !important;}

.main_new .main_work24_news .list li a .list_title, .main_new .main_beginner_wrap .list li .list_body span {font-size: 24px; line-height: 1.2;}


a, button, li, label, input {pointer-events: none;}

.fixed-area { z-index: 9999; width: 100%; height: 58px; background-color: #fff; padding: 10px 20px; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);}
.fixed-area button {pointer-events: initial; width: 100%; height: 100%; background-color: #4d65e1; border-radius: 4px;}
.fixed-area button a {pointer-events: initial; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.fixed-area button p {position: relative; padding-right: 32px;  color: #fff; font-weight: 600; line-height: 1;}
.fixed-area button p::after {content: ''; position: absolute; right: 0; top: 50%;  transform: translateY(-50%); background: url('../img/btn_right.svg') no-repeat center / contain; width: 24px; height: 24px;}
.fixed-area button p.start {padding-left: 32px; padding-right: 0;}
.fixed-area button p.start::after {right: initial; left: 0; transform: translateY(-50%) rotate(180deg); background: url('../img/btn_right.svg') no-repeat center / contain;}
