@charset "UTF-8";
/* A */
/* B */
/* C */
/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* U */
/* V */
/* W */
/* X */
/* Y */
/* Z */
/* primay color green */
/* bottom color green */
/* primay color blue */
/* color red */
/* accent color */
/* bg color */
/* sub title color */
/* sub title color */
/* A */
/* B */
/* C */
/* D */
/* E */
/* F */
/* G */
/* H */
/* I */
/* J */
/* K */
/* L */
/* M */
/* N */
/* O */
/* P */
/* Q */
/* R */
/* S */
/* T */
/* U */
/* V */
/* W */
/* X */
/* Y */
/* Z */
/* primay color green */
/* bottom color green */
/* primay color blue */
/* color red */
/* accent color */
/* bg color */
/* sub title color */
/* sub title color */
/* HPWKZZ1100M02 */
.box_terms {
  padding: 0.625rem 0.875rem;
  height: 6.25rem;
  overflow-y: auto;
  border: 1px solid #757575;
}

/* HPWKZZ1100M07 */
.box_sign_area {
  display: flex;
  align-items: center;
}
.box_sign_area .btn_mini_group {
  margin-left: 1rem;
}

/* HPWKBA1120T02 */
.box_color {
  border: 1px solid #757575;
  border-radius: 0.5rem;
  padding: 1.125rem;
}
.box_color + .box_color {
  margin-top: 0.5rem;
}

.in_box_wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.in_box_wrap .icon {
  width: 3rem;
  height: 3rem;
}
.in_box_wrap .icon img {
  width: 100%;
}

.btn_txt_icon {
  position: relative;
  padding-left: 1.25rem;
}
.btn_txt_icon::after {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.34153' cy='7.34153' r='4.59153' stroke='%23DDDDDD' stroke-width='1.5'/%3E%3Cline x1='10.8409' y1='10.372' x2='14.1982' y2='13.7294' stroke='%23DDDDDD' stroke-width='1.5'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.125rem;
  left: 0;
}
.btn_txt_icon.active::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.34153' cy='7.34153' r='4.59153' stroke='%234D65E1' stroke-width='1.5'/%3E%3Cline x1='10.8409' y1='10.372' x2='14.1982' y2='13.7294' stroke='%234D65E1' stroke-width='1.5'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
}

/* calendar */
.sat {
  color: #4d65e1;
}

.sun {
  color: #ee2e62;
}

.select_month {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #F5F5F5;
  border-radius: 1.5rem;
  text-align: center;
}
.select_month .current_month {
  font-weight: 600;
}
.select_month .btn_arrow {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px solid #757575;
  border-radius: 50%;
}
.select_month .btn_arrow::after {
  display: block;
  content: "";
  height: 0.75rem;
  width: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.375rem 0 0 -0.375rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12L6 8L10 4' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: 1rem 1rem;
}
.select_month .btn_arrow.arr_right::after {
  transform: rotate(-180deg);
}

.box_calendar_table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
.box_calendar_table .select_view {
  display: flex;
}
.box_calendar_table .select_view [class*=select_] {
  position: relative;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}
.box_calendar_table .select_view [class*=select_] + [class*=select_] {
  margin-left: 1rem;
}
.box_calendar_table .select_view [class*=select_]::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.1875rem;
  width: 1rem;
  height: 1rem;
}
.box_calendar_table .select_view .select_on::before {
  background-color: #4d65e1;
}
.box_calendar_table .select_view .select_none::before {
  background-color: #f5f5f5;
}
.box_calendar_table .select_view .select_on {
  color: #4d65e1;
}
.box_calendar_table .select_view .select_none {
  color: #555;
}
.box_calendar_table .calendar_table {
  margin-top: 1rem;
}
.box_calendar_table .calendar_table th, .box_calendar_table .calendar_table td {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
}
.box_calendar_table .calendar_table th {
  border: 1px solid #757575;
  border-bottom: none;
  text-align: center;
  padding: 0.375rem 0;
}
.box_calendar_table .calendar_table td {
  padding: 0;
  border: 1px solid #757575;
  vertical-align: top;
}
.box_calendar_table .calendar_table td .td_box {
  min-height: 3rem;
  padding: 0.25rem 0.625rem;
  display: block;
}
.box_calendar_table .calendar_table td .td_box.schedule {
  position: relative;
  background-color: #F9FAFF;
}
.box_calendar_table .calendar_table td .td_box.schedule::after {
  display: block;
  content: "";
  height: 0.375rem;
  width: 0.375rem;
  background: #4d65e1;
  border-radius: 50%;
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  margin: 0 0 0 -0.1875rem;
}
.box_calendar_table .calendar_table td .prev, .box_calendar_table .calendar_table td .next {
  color: #757575;
  font-size: 0.875rem;
}

.calendar_data_wrap {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
}
.calendar_data_wrap .data_list + .data_list {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #757575;
}
.calendar_data_wrap .data_desc {
  margin-top: 1rem;
}

.bottom_layer .calendar_data_wrap {
  padding: 0;
  margin: 0;
  border: none;
}
.bottom_layer .calendar_data_wrap .label_txt {
  line-height: 1.25rem !important;
}

.list_calener_type {
  border-top: 1px solid #757575;
}
.list_calener_type li {
  max-height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8125rem 0;
  border-bottom: 1px solid #757575;
}
.list_calener_type li .date {
  font-weight: 500;
}
.list_calener_type li .date > span {
  margin-right: 0.5rem;
}
.list_calener_type li .calener_btn_more {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #757575;
  border-radius: 0.25rem;
}
.list_calener_type li .calener_btn_more::after {
  display: block;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.75rem 0 0 -0.75rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12L6 12' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M12 18L12 6' stroke='%23333333' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: contain;
}

/* HPWKAB1300M01 */
.sch_list li .em_blue {
  margin-left: 0.25rem;
}
.sch_list li + li {
  margin-top: 0.5rem;
}

.sch_list_wrap {
  max-height: 18.75rem;
  overflow-y: auto;
}
.sch_list_wrap ul li * {
  font-size: 1rem;
}
.sch_list_wrap ul li + li {
  margin-top: 0.5rem;
}

/*
//HPWKAB1200M01, HPHRAA1100M01, HPWKAC1200M01
.sch_result {
	width: 100%;
    overflow-x: auto;
	.sch_result_inner {
		display: flex; gap: rem(8);
		* {flex-shrink: 0;}
	}
	li.hash {
		background-color: #fff;
		border:1px solid $gray;
		margin-bottom: rem(8);
		margin-right: rem(8);
	}
}
 */
/* HPWKPA1300P19 */
.img_wage_info {
  width: 100%;
  overflow: auto;
}

/* HPHRHA4110L07 */
.map_area {
  max-height: 7.5rem;
  overflow-y: auto;
}

/* 마이페이지 개인,기업 메인 취합 css *//*# sourceMappingURL=contents_b.css.map */